<div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Welcome <span>Dr. Desoza!</span></h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
          <li class="breadcrumb-item active"><a>Settings</a></li>
        </ol>
         <!-- Settings Dropdown Menu -->

        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
              <div class="card-body">Add New Patient</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" [routerLink]="['/adminPatientadd']">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
              <div class="card-body">Patient Details</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" [routerLink]="['/adminPatientDetails']">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
              <div class="card-body">Set Medication</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" [routerLink]="['/adminSetMedication']">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
              <div class="card-body">Send Emergency Alert</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Previous Month's Report
              </div>
              <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Patient Engagements
              </div>
              <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
           Recently admitted
          </div>
          <div class="card-body">
            <div class="table-responsive">
            <table class="table " id="datatablesSimple">
              <thead>
                <tr>
                  <th>Patient Id</th>
                  <th>Patient Name</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th>Mobile</th>
                  <th>UID/Aadhar</th>
                  <th>Admitted Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1002213</td>
                  <td>Riyo Desoza</td>
                  <td>35</td>
                  <td>Delhi NCR</td>
                  <td>7749320489</td>
                  <td>887675739203</td>
                  <td>2024/03/18</td>
                </tr>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </main>
    <!-- HTML for the logout button -->
    <div class="row">
      <div class="col mb-4">
    <button class="logout-btn" [routerLink]="['/loginChoices']">Logout</button>
  </div>
</div></div>
  