    <div class="container">
      <h3 class="mb-4 heading text-center">Patient Registration Form</h3>
      <div class="form-box">
        <form>
          <div class="form-group">
            <label for="patientName">Patient Name</label>
            <input type="text" class="form-control" id="patientName" placeholder="Enter patient's name" required>
          </div>
          <div class="form-row">
            <div class="col-md-4">
            <label for="patientEmail">Email Id</label>
            <input type="email" class="form-control" id="patientEmail" placeholder="Enter patient's email-id" required>
          </div>
          <div class="col-md-4">
            <label for="patientUID">UID/Aadhar Number</label>
            <input type="text" class="form-control" id="patientUID" placeholder="Enter unique ID" required>
          </div>
          <div class="col-md-4">
            <label for="patientMobile">Mobile</label>
            <input type="tel" class="form-control" id="patientMobile" placeholder="Enter mobile number" required>
          </div>
        </div>
          <div class="form-row">
            <div class="col-md-4">
              <label for="patientAge">Age</label>
              <input type="number" class="form-control" id="patientAge" placeholder="Enter age" required>
            </div>
            <div class="col-md-4">
                <label for="admittedDate">Admitted Date</label>
                <input type="date" class="form-control" id="admittedDate" required>
              </div>
            <div class="col-md-4">
              <label for="patientPincode">Pincode</label>
              <input type="text" class="form-control" id="patientPincode" placeholder="Enter pincode" required>
            </div>
          </div>
          
          <div class="form-group">
            <label for="patientAddress">Address</label>
            <textarea class="form-control" id="patientAddress" rows="3" placeholder="Enter address" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
          <button type="" class="btn danger" [routerLink]="['/adminDashboard']">Cancel</button>
        </form>
      </div>
    </div>
  