.navbar-brand{
    margin-left: 40px;
}

.collapse{
    margin-right: 30px;
}
.nav-item{
    margin-right: 10px;
    font-size: 16px;
    line-height: 2px;
}

.navbar-toggler{
    margin-right: 10px;
}