<div class="container">
    <div class="row main-heading justify-content-center mt-5 mb-5"> <!-- Adjusted margin top -->
        <h2 class="center-text h2-effect mb-3 mt-2">Choose account type</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-2"> <!-- Added margin bottom class -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary" routerLink="/adminAuth">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4"> <!-- Added margin bottom class -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary" routerLink="/userAuth">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
