
 <!-- The AG Grid component -->
 <!-- <ag-grid-angular
 style="width: 100%; height: 100%;"
 [rowData]="rowData"
 [columnDefs]="colDefs"
 
 ></ag-grid-angular>`
` -->

<div class="container">
    <h3>All Patients Details</h3>
    <div class="table-actions">
      <button class="download-button" (click)="downloadPatients()">Download All Records</button>
    </div>
    <div class="table-responsive mt-3">
      <ag-grid-angular
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        rowSelection="single"
      >
      </ag-grid-angular>
    </div>
    <a [routerLink]="['/adminDashboard']" class="back-link mt-3">Back to Dashboard</a>
  </div>
  