<div class="container">
    <h2>Signup Form</h2>
    <form>
        <div class="form-group">
            <input type="text" placeholder="Admin Name" required>
            <input type="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" required>
            <input type="text" placeholder="Contact Number" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Doctor License Number" required>
            <input type="text" placeholder="Hospital Name" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Hospital Address" required>
            <input type="text" placeholder="Pin Code" required>
        </div>
        <button type="submit" [routerLink]="['/adminAuth']">Signup</button>
    </form>
    <p class="text-center">Already have an account? <a [routerLink]="['/adminAuth']">login here</a></p>
</div>