.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.text_color {
    color: #333; /* Darker text color */
    font-size:large;
}

.main-heading{
    color: rgb(254, 22, 69);
    text-align: start;
}

.text-center {
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.box {
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputstyle {
    width: 100%;
    padding: 10px;
    background-color: rgb(224, 1, 1); /* Blue button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputstyle:hover {
    background-color: rgb(201, 32, 32); /* Darker blue on hover */
}

.small {
    font-size: 80%;
}

/* Styles for search box */
.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-btn {
    background-color: #8585859c; /* Blue button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-left: -40px;
    height: 38px;
    width: 40px;
}

.search-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.selected-patients {
    margin-top: 10px;
}

.selected-patient {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.selected-patient:hover {
    background-color: #ddd; /* Darker grey on hover */
}
